DATABASE_URL="postgresql://neondb_owner:npg_aPcq1te9YKnD@ep-still-dream-a1f3ue45.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL="postgresql://neondb_owner:npg_aPcq1te9YKnD@ep-still-dream-a1f3ue45-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_SECRET="PXSiDTca2nbP/Y2CDLbjnmwLVmru9H14WEP0Q/nBrKU="

NEXTAUTH_URL="http://localhost:3000"