DATABASE_URL="postgresql://neondb_owner:npg_aPcq1te9YKnD@ep-still-dream-a1f3ue45.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL="postgresql://neondb_owner:npg_aPcq1te9YKnD@ep-still-dream-a1f3ue45-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_SECRET="PXSiDTca2nbP/Y2CDLbjnmwLVmru9H14WEP0Q/nBrKU="

NEXTAUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="dpo30ungb"

CLOUDINARY_API_KEY="638337657686379"

CLOUDINARY_API_SECRET="Q9nq51EhpOB1XUWfWodYaKUExrM"

CRON_SECRET="b1b288ef812092ff3a0ee175209c961b0a8f2b2e92cbbca18f5a7d291b8a40f9"